.customer-details-area {
    padding: 35px 0 40px
}

.customer-details-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.customer-details-content .icon {
    margin-right: 25px
}

.customer-details-content .content {
    flex-grow: 1
}

.customer-details-content .content .title {
    font-size: 26px;
    color: #571336;
    margin-bottom: 10px;
    font-weight: 600
}

.customer-progress-wrap {
    position: relative;
    padding: 16px 0 49px
}

.customer-progress-wrap .progress {
    height: 7px;
    background-color: #ebebee;
    border-radius: 0
}

.customer-progress-wrap .progress .progress-bar {
    background-color: #ffa903
}

.customer-progress-step {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.customer-progress-step ul {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.customer-progress-step ul li:nth-child(2) {
    text-align: center
}

.customer-progress-step ul li span {
    width: 42px;
    height: 42px;
    flex: 0 0 42px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #ffa903;
    font-size: 18px;
    font-weight: 700;
    color: #571336;
    margin-bottom: 8px
}

.customer-progress-step ul li p {
    margin-bottom: 0;
    color: #6a2e4d;
    font-weight: 500
}

.customer-progress-step ul li:nth-child(2) span {
    margin: 0 auto 8px
}

.customer-progress-step ul li:last-child span {
    margin-left: auto
}

.booking-details-area .primary-contact {
    display: flex;
    align-items: center;
    background: #57112f;
    padding: 15px 30px;
    border-radius: 5px 5px 0 0
}

.booking-details-area .primary-contact .title {
    color: #fff;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600
}

.booking-details-area .primary-contact i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px
}

.booking-details-wrap {
    background: #fff;
    padding: 50px 40px 80px;
    border-radius: 0 0 5px 5px
}

.booking-details-wrap .form-grp {
    display: flex;
    align-items: center;
    margin-bottom: 30px
}

.booking-details-wrap .form-grp .icon {
    font-size: 26px;
    line-height: 0;
    color: #5b1734;
    margin-right: 12px
}

.booking-details-wrap .form-grp .form {
    flex-grow: 1;
    position: relative
}

.booking-details-wrap .form-grp .form .form-select {
    padding: 18px 60px 18px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #6a2e4d;
    vertical-align: middle;
    background: url("../image/select_down_arrow02.png") no-repeat scroll 97.5% center;
    box-shadow: none;
    appearance: none;
    transition: .3s ease-in-out;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    background-color: transparent;
    border-radius: 5px
}

.booking-details-wrap .form-grp .form label {
    font-size: 13px;
    font-weight: 500;
    color: #6a2e4d;
    opacity: .80;
    position: absolute;
    left: 10px;
    top: -10px;
    background: #fff;
    padding: 0 10px;
    z-index: 2
}

.booking-details-wrap ul {
    display: flex;
    align-items: center;
    margin: 0 -6px;
    flex-wrap: wrap
}

.booking-details-wrap ul li {
    padding: 0 6px;
    width: 37%
}

.booking-details-wrap ul li:first-child {
    width: 26%
}

.booking-details-wrap ul li .form-grp .form .form-select {
    padding: 18px 40px 18px 20px
}

.booking-details-wrap .form-grp input {
    width: 100%;
    background: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 18px 20px;
    font-size: 16px;
    color: #6a2e4d;
    font-weight: 500;
    opacity: 80%;
    font-family: 'Barlow', sans-serif
}

.booking-details-wrap .form-grp input::placeholder {
    font-size: 16px;
    color: #6a2e4d;
    font-weight: 500;
    opacity: 80%;
    font-family: 'Barlow', sans-serif
}

.booking-details-wrap .gender-select {
    margin-left: 40px;
    margin-bottom: 20px
}

.booking-details-wrap .gender-select .title {
    font-size: 18px;
    font-weight: 500;
    color: #6a2e4d;
    margin-bottom: 20px
}

.booking-details-wrap .gender-select ul {
    display: flex;
    align-items: center;
    margin: 0
}

.booking-details-wrap .gender-select ul li {
    font-size: 16px;
    font-weight: 500;
    color: #57112f;
    width: auto !important;
    font-family: 'Barlow', sans-serif;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    min-width: 142px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer
}

.booking-details-wrap .gender-select ul li:last-child {
    margin-right: 0
}

.booking-details-wrap .gender-select ul li i {
    line-height: 0;
    font-size: 23px;
    margin-right: 12px
}

.booking-details-wrap .gender-select ul li.active {
    border-color: #57112f
}

.booking-details-wrap .optional-item .form-grp .form .form-select {
    background: url("../image/select_down_arrow.png") no-repeat scroll 97.5% center;
    font-size: 18px;
    border: 1px solid #bca0ac;
    padding: 16px 40px 16px 20px
}

.booking-details-wrap .optional-item .form-grp {
    margin-bottom: 10px
}

.booking-details-wrap .checkbox-grp {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 0
}

.booking-details-wrap .checkbox-grp input {
    width: auto;
    margin-top: 5px;
    margin-right: 9px
}

.booking-details-wrap .checkbox-grp label {
    color: #6a2e4d;
    font-size: 16px;
    font-weight: 500;
    user-select: none
}

.booking-details-area .col-27 {
    flex: 0 0 27.56%;
    width: 27.56%
}

.booking-details-area .booking-sidebar .main-title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    color: #fff;
    background: #57112f;
    border-radius: 5px 5px 0 0;
    padding: 15px 25px
}

.booking-details-area .booking-sidebar .widget:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: none;
}

.booking-details-area .booking-sidebar .widget .flight-info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.booking-details-area .booking-sidebar .widget .flight-info li {
    display: flex;
    align-items: center
}

.booking-details-area .booking-sidebar .widget .flight-info li img {
    margin-right: 10px
}

.booking-details-area .booking-sidebar .widget .flight-info li p {
    font-size: 14px;
    font-weight: 600;
    color: #571336;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0;
    line-height: 1.2
}

.booking-details-area .booking-sidebar .widget .flight-info li span {
    display: block;
    font-size: 13px;
    opacity: .74;
    text-transform: capitalize
}

.booking-details-area .booking-sidebar .widget .discount-form {
    display: flex;
    align-items: center;
    position: relative
}

.booking-details-area .booking-sidebar .widget .discount-form>i {
    font-size: 22px;
    color: #5d1936;
    margin-right: 10px;
    line-height: 0
}

.booking-details-area .booking-sidebar .widget .discount-form input {
    width: 100%;
    background: transparent;
    font-size: 14px;
    color: #6a2e4d;
    opacity: .74;
    font-weight: 500;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 13px 65px 13px 20px;
    height: 50px
}

.booking-details-area .booking-sidebar .widget .discount-form input::placeholder {
    font-size: 14px;
    color: #6a2e4d;
    opacity: .74;
    font-weight: 500
}

.booking-details-area .booking-sidebar .widget .discount-form button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #ffa903;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #57112f;
    font-size: 19px;
    border-radius: 3px;
    line-height: 0
}

.booking-sidebar .preferred-bank-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px -5px 0
}

.booking-sidebar .preferred-bank-wrap li {
    width: 50%;
    padding: 10px 5px 0
}

.booking-sidebar .preferred-bank-wrap li a {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ebebee;
    border-radius: 4px;
    border: 2px solid #ebebee
}

.booking-sidebar .preferred-bank-wrap li a:hover {
    background: #fff;
    border-color: #ffa903
}

.booking-sidebar .price-summary-top ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ebebee;
    padding: 13px 20px;
    margin-bottom: 20px
}

.booking-sidebar .price-summary-top ul li {
    font-size: 16px;
    font-weight: 500;
    color: #6a2e4d;
    font-family: 'Barlow', sans-serif
}

.booking-sidebar .price-summary-detail ul {
    margin-bottom: 25px
}

.booking-sidebar .price-summary-detail ul li {
    font-size: 16px;
    font-weight: 500;
    color: #6a2e4d;
    font-family: 'Barlow', sans-serif;
    opacity: .88;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px
}

.booking-sidebar .price-summary-detail ul li:last-child {
    margin-bottom: 0
}

.booking-sidebar .price-summary-detail ul li span {
    font-size: 18px;
    font-weight: 600
}

.booking-sidebar .price-summary-detail ul li:last-child,
.booking-sidebar .price-summary-detail ul li:nth-child(3) {
    border-top: 1px solid #d2d2d2;
    padding-top: 10px;
    margin-top: 20px
}

.booking-sidebar .price-summary-detail .btn {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #57112f;
    border-radius: 0;
    display: block
}

.booking-sidebar .widget {
    background: #fff;
    padding: 35px 30px;
    border-bottom: 1px solid #e8e8e8
}

.booking-sidebar .widget.filters .title {
    color: #fff;
    font-size: 22px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    background: #57112f;
    padding: 14px 15px
}
.booking-sidebar .widget.filters {
    padding: 0
}

.booking-sidebar .widget.filters .filters-wrap {
    padding: 35px 30px
}

.booking-sidebar .widget .widget-title {
    font-size: 18px;
    color: #571336;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #d2d2d2
}
