
.slider-bg {
    background-size: cover;
    background-position: center;
    min-height: 700px;
    position: relative;
    display: flex !important;
    align-items: center;
    z-index: 1;
    padding: 100px 0 200px
}

.slider-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #006280;
    opacity: .85;
    z-index: -1
}

.slider-content {
    margin-top: -25px
}

.slider-content .title {
    font-size: 48px;
    color: #fff;
    margin-bottom: 5px
}

.slider-content p {
    font-size: 16px;
    color: #eae8e8;
    margin-bottom: 25px;
    width: 85%
}

/* booking */
.booking-area {
    z-index: 1;
    margin-top: -170px;
    position: relative
}

.booking-wrap .nav-tabs {
    border-bottom: 0
}

.booking-wrap .nav-tabs .nav-item {
    width: 25%;
    flex: 0 0 25%
}

.booking-wrap .nav-tabs .nav-link {
    margin-bottom: 0;
    background: #622243;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    width: 100%;
    justify-content: center;
    transition: .3s linear;
    font-family: 'Barlow', sans-serif;
    font-size: 15px
}

.booking-wrap .nav-tabs .nav-link i {
    font-size: 20px;
    margin-right: 10px;
    line-height: 0;
    margin-top: 4px
}

.booking-wrap .nav-tabs .nav-item:first-child .nav-link {
    border-radius: 20px 0 0 0
}

.booking-wrap .nav-tabs .nav-item:last-child .nav-link {
    border-radius: 0 20px 0 0
}

.booking-wrap .nav-tabs .nav-item.show .nav-link,
.booking-wrap .nav-tabs .nav-link.active {
    color: #6a2e4d;
    background-color: #fff
}

.booking-area .tab-content-wrap {
    background: #fff;
    padding: 25px;
    border-radius: 20px
}
.content-top ul {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap
}

.content-top ul li {
    font-size: 14px;
    font-weight: 600;
    color: #6a2e4d;
    position: relative;
    margin-right: 15px;
    padding-right: 15px;
    margin-bottom: 12px
}

.content-top ul li::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 2px;
    height: 13px;
    background: #6a2e4d;
    opacity: .5
}

.content-top ul li:last-child {
    margin-right: 0;
    padding-right: 0
}

.content-top ul li:last-child::before {
    display: none
}

.content-top ul li span {
    display: block;
    font-size: 12px;
    color: #8d5f77;
    font-weight: 500;
    text-align: right;
    line-height: 1
}

.booking-form {
    background: #f8f3e7;
    border-radius: 4px;
    border: 1px solid #ebebeb
}

.booking-form ul li {
    width: 230px
}
.booking-form .form-grp {
    position: relative;
    border-right: 1px solid #dedcd7
}

.booking-form .form-grp input {
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    color: #6a2e4d;
    padding: 20px 20px;
    height: 74px;
    font-family: 'Barlow', sans-serif
}

.booking-form .form-grp input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #6a2e4d;
    font-family: 'Barlow', sans-serif
}

.booking-form ul {
    display: flex;
    align-items: center
}

.booking-form .form-grp .exchange-icon {
    position: absolute;
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background: #fefdfb;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: #622243;
    border: 1px solid #eeedeb
}

.booking-form .form-grp .exchange-icon:hover {
    background: #622243;
    color: #fff;
    border-color: #622243
}

.booking-form ul li:nth-child(2) .form-grp input {
    padding: 20px 20px 20px 40px
}

.booking-form .form-grp label {
    color: #8d5f77;
    font-size: 12px;
    font-weight: 500;
    display: block;
    margin-left: 10px;
    font-family: 'Barlow', sans-serif
}

.booking-form .form-grp.select .form-select {
    padding: 0 20px 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2a2a2a;
    vertical-align: middle;
    background: url("../image/select_down_arrow.png") no-repeat scroll 97.5% center;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    transition: .3s ease-in-out;
    width: 160px;
    border: 0;
    font-family: 'Barlow', sans-serif;
    cursor: pointer
}

.booking-form ul li:nth-child(3) {
    width: 180px
}

.booking-form .form-grp.select {
    padding: 16px 0
}

.booking-form ul li:nth-child(4) {
    width: 270px
}

.booking-form .form-grp.date {
    padding: 16px 30px
}

.booking-form .form-grp.date input {
    padding: 0;
    height: auto;
    color: #2a2a2a;
    font-weight: 500
}

.booking-form .form-grp.date input::placeholder {
    color: #2a2a2a;
    font-weight: 500
}

.booking-form .form-grp.date label {
    margin-left: 0
}

.booking-form .form-grp.date ul li {
    width: 50%;
    margin-right: 20px;
    padding-right: 15px;
    position: relative
}

.booking-form .form-grp.date ul li:last-child {
    margin-right: 0;
    padding-right: 0
}

.booking-form .form-grp.date ul li::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 5px;
    height: 1px;
    background: #2a2a2a
}

.booking-form .form-grp.date ul li:last-child::before {
    display: none
}

.booking-form ul li:last-child {
    width: 240px
}

.booking-form .form-grp.economy {
    border: 0;
    padding: 16px 20px
}

.booking-form .form-grp.economy input {
    padding: 0;
    height: auto;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 500
}

.booking-form .form-grp.economy input::placeholder {
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 500
}

.booking-form .form-grp.economy label {
    margin-left: 0
}

.tab-content-wrap .content-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px
}

.tab-content-wrap .content-bottom .promo-code {
    font-size: 16px;
    color: #945274;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    margin-right: 25px
}

.tab-content-wrap .content-bottom .promo-code:hover {
    color: #ffa903
}

.tab-content-wrap .content-bottom .btn {
    font-size: 16px
}

.booking-area.booking-style-two {
    margin-top: -47px;
    position: relative;
    z-index: 1
}

/* features */

.features-area {
    padding: 60px 0 65px
}

.features-item {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    padding: 35px;
    margin-bottom: 30px;
    transform: scale(1);
    transition: all .4s linear;
    box-shadow: 0 1px 16px 0 rgba(139, 139, 139, 0.1)
}


.features-item:hover {
    transform: scale(1.05)
}

.features-icon {
    line-height: 0;
    margin-right: 20px;
    width: 53px;
    flex: 0 0 53px;
    margin-top: 25px
}

.features-icon i {
    font-size: 53px;
    color: #622243
}

.features-content .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px
}

.features-content p {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.3;
    color: #606575;
    font-weight: 500
}